<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link href="http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <title>403 - Ошибка доступа</title>
    </head>
    <body>
        <div class="alert alert-danger" role="alert">
            <p style="text-align: center;">Ошибка доступа 403</p>
        </div>
        <div class="alert alert-info" role="alert">
           <p style="text-align: center;">
           <a href="/">Вернуться на главную страницу сайта.</a>
       </p><br />
       </div>
    </body>
</html>