<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link href="http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <title>Ошибка сайта</title>
    </head>
    <body>
        <div class="alert alert-danger" role="alert">
            Произошла ошибка при обработке запроса.
        </div>
        <div class="alert alert-info" role="alert" style="text-align: center;">
            <p><b><u>Что делать?</u></b></p>
            <br />
            Подождите 30 секунд и попробуйте обновить страницу.
        </div>
    </body>
</html>