{% extends "base.html" %}
{% load humanize %}
{% block title %}Список сайтов{% endblock %}
{% block content %}
<h3>Список сайтов</h3>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить</button>&nbsp;
<a class="btn btn-default" role="button" data-toggle="collapse"
   href="#productsFilter" aria-expanded="false" aria-controls="productsFilter" id="productsFilterButton">
    <span class="glyphicon glyphicon-filter"></span>&nbsp;Фильтр
</a>

<div class="panel panel-default collapse" id="productsFilter">
    <div class="panel-heading">Фильтр</div>
    <div class="panel-body">
        <form method="get">
            <table width="100%" class="table table-bordered table-hover">
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>
                        <div class="form-group col-sm-6">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.num_items_on_page.label }}</td>
                    <td>
                        <div class="form-group col-sm-6">
                            {{ form.num_items_on_page }}
                            {{ form.num_items_on_page.errors }}
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Поиск
            </button>
            {{ form.sort }}
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Телефоны</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for o in object_list %}
        <tr>
            <td>{{ o.pk }}</td>
            <td>{{ o.name }}
            <td>
                {% for x in o.externalphonenumber_set.all %}
                {{ x.phone_number }}<br />
                {% endfor %}
            </td>
            </td>
            <td>
                <button class="btn btn-default btn-edit-website"
                        data-website-id="{{ o.pk }}" data-website-name="{{ o.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if object_list %}
    {% include 'tags/paginator.html' %}
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить/редактировать сайт</h4>
            </div>
            <div class="modal-body">
                <input name="new_website" id="websiteName" class="form-control"/>
                <input type="hidden" id="websiteId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" id="saveWebsiteButton">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_extra %}
<script type="text/javascript">
var saveWebsiteUrl = '{% url "save_website_js" %}';
$(function () {
    $('#saveWebsiteButton').on('click', function() {
        $.post(saveWebsiteUrl, {'website': $('#websiteName').val(), 'website_id': $('#websiteId').val()}, function(response) {
            window.location.reload(false);
        });
    });
    $('.btn-edit-website').on('click', function(e) {
        var website_id = $(this).data('website-id'),
        website_name = $(this).data('website-name');
        $('#websiteId').val(website_id);
        $('#websiteName').val(website_name);
        $('#myModal').modal('show');
    });
});
</script>
{% endblock %}